/* Reset default sytles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Baseline Styles */
body {
    font-family: 'Roboto Mono', monospace, sans-serif;
}

/* Navigation Bar Styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #e7eae5, #bbced2);
    padding: 1em 2em;
}

.nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adjustments for the brand logo and title */
.nav-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Removes the underline from the link */
    color: black;
}

.logo {
    height: 40px;
    margin-right: 0.5em;
}

.title {
    color: black;
    font-size: 1em;
}

/* Adjustments for the navigation menu */
.nav-menu {
    list-style: none;
    list-style-type: none;
    display: flex;
}

/* Adjustments for mobile navigation */
/* Hiding the button on desktop screens */
.nav-toggle {
    display: none;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #fffcf1;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #012536;
}

/* Hamburger menu - hidden by default */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Three horizontal lines of a hamburger icon.*/
.hamburger::before,
.hamburger::after {
    content: '';
    background-color: #fffcf1;
    height: 2px;
    width: 25px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {

    /* Adjustments for the brand logo and title on mobile */
    .nav-brand {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-right: 0;
    }

    .title {
        display: none;
        /* Ensure the title is not displayed on mobile */
    }

    /* Adjustments for the navigation menu */
    .nav-menu {
        position: absolute;
        top: -400px;
        right: 0;
        flex-direction: column;
        background-color: #809a9f;
        width: 100%;
        text-align: center;
        transition: top 0.3s ease-in-out;
    }

    .nav-item {
        margin: 1em 0;
    }

    /* Hamburger Mobile Navigation */
    .hamburger {
        display: flex;
    }

    .nav-toggle {
        display: inline;
        position: absolute;
        right: 0;
        /* Position to the right */
        margin-right: 25px;

    }

    /* When nav is toggled */
    .nav-active {
        background: linear-gradient(to top, #e7eae5, #bbced2);
        padding: 1em 2em;
        top: 72px;
        z-index: 999;
    }
}