/* Reset default sytles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Baseline Styles */
body {
    font-family: 'Roboto Mono', monospace, sans-serif;
}

/* Navigation Bar Styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #e7eae5, #bbced2);
    padding: 1em 2em;
}

.nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adjustments for the brand logo and title */
.nav-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Removes the underline from the link */
    color: black;
}

.logo {
    height: 40px;
    margin-right: 0.5em;
}

.title {
    color: black;
    font-size: 1em;
}

.sub-title {
    margin: 2em;
}

/* Adjustments for the navigation menu */
.nav-menu {
    list-style: none;
    list-style-type: none;
    display: flex;
}

/* Adjustments for mobile navigation */
/* Hiding the button on desktop screens */
.nav-toggle {
    display: none;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #fffcf1;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #012536;
}

.introduction {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Hamburger menu - hidden by default */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Three horizontal lines of a hamburger icon.*/
.hamburger::before,
.hamburger::after {
    content: '';
    background-color: #fffcf1;
    height: 2px;
    width: 25px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

/* Base styles for each screen */
.screen {
    display: none;
    /* Hide all screens by default */
    padding: 2em;
    animation: fadeIn 0.5s ease-in-out forwards;
    /* Fade in animation for when screen becomes active */
}

/* Show the active screen */
.screen.active {
    display: block;
}

/* Animation keyframes for fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Modal */
/* The background */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Scroll not needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    animation: fadeIn 0.5s;
}

/* Modal Content */
.modal-content {
    background-color: #fffcf1;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        margin-top: -300px;
        opacity: 0;
    }

    to {
        margin-top: 10%;
        opacity: 1;
    }
}

.rules-list {
    list-style: disc;
}

/* Style for Play Screen */
/* Headings - centered by default due to body styles */
h2,
h3 {
    color: #002735;
    text-align: center;
}

/* Game settings area */
.setting label {
    display: block;
    margin-bottom: 5px;
}

.setting select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #819aa0;
    background-color: #fffcf0;
    color: #002735;
}

/* Score area */
.score {
    display: flex;
    justify-content: space-between;
    /* This will place scores side by side */
    align-items: center;
    /* This will vertically align them */
    background-color: #819aa0;
    color: #fffcf0;
    padding: 10px;
    margin-bottom: 2em;
    margin-top: 10px;
    border-radius: 5px;
}

/* Choices container */
.choices-container {
    display: flex;
    justify-content: center;
    /* Center both player and computer's choice containers */
    gap: 30px;
    /* Small gap between them */
    margin-bottom: 20px;
}

.choice-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.choice-container img.background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.choice-icon {
    /* Style for positioning the icon over the background */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
    z-index: 10;
    /* Ensures icon is on top */
}

.player-choice-icon,
.computer-choice-icon {
    /* Style for positioning the icon over the background */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Action area */
.action-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    /* Space between RPSLS icons */
    margin-bottom: 20px;
}

.choice-button {
    background-color: #fffcf0;
    border: 2px solid #002735;
    padding: 10px;
    width: 100px;
    /* Fixed size */
    height: 100px;
    /* Fixed size */
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    /* Use flex to center the image inside the button */
    align-items: center;
    /* Center image vertically */
    justify-content: center;
    /* Center image horizontally */
}

.choice-button img {
    max-width: 100%;
    /* Limit image size to not exceed the button */
    max-height: 100%;
    /* Limit image size to not exceed the button */
    object-fit: contain;
    /* Ensure the image's aspect ratio is preserved */
}

.choice-button:hover {
    transform: scale(1.1);
}

/* Game Area Buttons */
.game-screen-button {
    background-color: #819aa0;
    color: #fffcf0;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.choice-button:hover,
.game-area-button:hover {
    background-color: #002735;
}

/* Scoreboard Styles */
.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.scoreboard-header th {
    background-color: #819aa0;
    color: #fffcf0;
    text-align: center;
}

.scoreboard-row td {
    background-color: #fffcf0;
    color: #002735;
    text-align: center;
    padding: 8px;
    border: 1px solid #002735;
}

.reset-button {
    background-color: #002735;
    color: #fffcf0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    /* Center button */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    /* Center horizontally and add equal spacing between buttons */
    justify-content: center;
    gap: 5px;
}

@keyframes shuffling {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(-10px);
    }
}

.shuffling-animation {
    animation: shuffling 0.5s ease-in-out infinite;
}

.feedback-win {
    background-color: #a0d2af;
    /* Soft green variation */
    animation: fade-in-out 3s ease;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}

.feedback-lose {
    background-color: #d1a0a2;
    /* Soft red variation */
    animation: fade-in-out 3s ease;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}

.feedback-tie {
    background-color: #a0a0a0;
    /* Soft grey variation */
    animation: fade-in-out 3s ease;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {

    /* Adjustments for the brand logo and title on mobile */
    .nav-brand {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-right: 0;
    }

    .title {
        display: none;
        /* Ensure the title is not displayed on mobile */
    }

    /* Adjustments for the navigation menu */
    .nav-menu {
        position: absolute;
        top: -400px;
        right: 0;
        flex-direction: column;
        background-color: #809a9f;
        width: 100%;
        text-align: center;
        transition: top 0.3s ease-in-out;
    }

    .nav-item {
        margin: 1em 0;
    }

    /* Hamburger Mobile Navigation */
    .hamburger {
        display: flex;
    }

    .nav-toggle {
        display: inline;
        position: absolute;
        right: 0;
        /* Position to the right */
        margin-right: 25px;

    }

    /* When nav is toggled */
    .nav-active {
        background: linear-gradient(to top, #e7eae5, #bbced2);
        padding: 1em 2em;
        top: 72px;
        z-index: 999;
    }

    /* Game Screen Adjustments*/

    .score {
        flex-direction: column;
    }

    .choice-button {
        width: 60px;
        /* Thumb-sized width */
        height: 60px;
        /* Thumb-sized height */
        padding: 5px;
        /* Reduced padding on smaller screens */
    }

    .choice-button img {
        width: auto;
        /* Allow the image to scale within the button */
        height: auto;
        /* Allow the image height to adjust automatically */
    }

    .game-area-button {
        width: 80%;
        /* Full width for mobile */
        margin: 10px auto;
    }

    /* Game Area Buttons */
    .game-screen-button {
        margin: 5px;
    }

    /* Adjustments for Scoreboard */
    .scoreboard-table {
        font-size: 14px;
        /* Smaller font size for mobile */
    }

    .reset-button {
        padding: 8px 15px;
        /* Smaller padding for the reset button on mobile */
    }

    /* Stack buttons vertically on mobile screens */
    .button-container {
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
}